<!doctype html>
<html lang="en">

<head>
  <title>Aman weather api</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet'>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

  <link rel="icon" href="https://classroom-training-bucket.s3.ap-south-1.amazonaws.com/abc/IMG_20220529_164956_573.jpg"
    type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
     h2 {
      text-align: center;
      color: black;
      font-size: 60px;
      font-weight: bold;
    }
    h2{
      color: rgb(255, 255, 255);
    }

    span {
      color: red;
    }



    .card {
      box-shadow: 0 15px 25px rgba(27, 24, 24, 0.2);
      border-radius: 50px;
      backdrop-filter: blur(14px);
      background-color: rgba(255, 255, 255, 0.24);

    }

    body {
      background-image: linear-gradient(rgb(113, 231, 113), rgb(255, 255, 12), rgb(113, 231, 113));

      background-attachment: fixed;
      font-family: 'Basic';
    }

    img {

      text-align: center;
      width: 30%;

    }

    h4,
    p {
      font-size: 30px;
      color: rgb(251, 244, 244);
    }

    h6 {
      color: black;
    }

    @media (max-width: 480px) {

      h4,
      p {
        font-size: 15px;
        color: rgb(255, 255, 255);
      }

      h6 {
        color: black;
        font-size: 10px;
      }

      img {
        width: 100%;
      }

      h1 {
        font-size: 30px;
        font-weight: bold;
      }


    }
  </style>
</head>
<div class="jumbotron jumbotron bg-dark">
  <div class="container">
    <h2 class="display"><span>A</span>man<span> W</span>eather <span> API</span></h2>
  </div>
</div>


<div class="container p-2 " style="border-radius: 40px;">
  <div class="card text-left">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <div class="container text-center ">
        <h1>
          <%= data.name%>
        </h1><hr>
        <img src="https://www.pngall.com/wp-content/uploads/11/Weather-No-Background.png" alt="">
        <%= new Date();%>
        <br><br>
        <hr>
        <h1>
          temp :  <%= data.main.temp%> °C
        </h1>
        <hr>
        <h1>
          feels like :  <%= data.main.feels_like %>
        </h1>
        <hr>
        <h1>
          humidity :  <%= data.main.humidity %>  %
        </h1>
        <hr>
        <h1>
          pressure :  <%= data.main.pressure %> in
        </h1>
      </div>
    </div>
  </div>
  </div><br><br><br>

  <div class="p-5 container-fluid text-center text-white bg-dark">
    <h4>copyright © 2022 all rights reserved by Aman kamar
  </h4></div>


<!-- Op
    <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>